<a href="https://colab.research.google.com/github/mfaraz669/Let-s-Upgrade/blob/main/letsupgrade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = 6500
if data < 1001:
  print('safe to land')
elif data > 1000 and data < 5000:
  print('bring it down')
else:
  print('turn around')

turn around

In [ ]:
notseeing = 'y'
while notseeing == 'y':

 print('cheating karlo')
 notseeing = input('koi nhi dekra')

else:
  print('bas kar')

cheating karlo
koi nhi dekray
cheating karlo
koi nhi dekran
bas kar

In [9]:
def tables(num):
  for item in range(1,21):
    print(num, 'x', item, '=' , num*item)
tables(45)

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450
45 x 11 = 495
45 x 12 = 540
45 x 13 = 585
45 x 14 = 630
45 x 15 = 675
45 x 16 = 720
45 x 17 = 765
45 x 18 = 810
45 x 19 = 855
45 x 20 = 900

In [14]:
def powerfive(num):
  return num**5

In [16]:
print(powerfive(7))

16807